.first {
    height: 30px;
    width: 100%;
    text-align:  center;
    vertical-align: text-bottom;
    font-size: 20px;
    background: #adf
}

.second {
    height: 30px;
    text-align:  center;
    font-size: 20px;
    vertical-align: text-bottom;
    background: #009200;
    transform: translateY(-100%);
    position: relative;
    z-index: 2;
}

.firstSpan {
    position: relative;
    z-index: 10;
    font-weight: 400;
}
