<div class="first">
    <span class="firstSpan">{{ (widthVal * 100 / limitVal) | number: '.1-2'  }} % </span>
  <div
    [ngStyle]="{'background': (widthVal <= limitVal ? 'green' : 'red') ,'width.%':widthVal <= limitVal ? (widthVal <= 0 ? 0: (widthVal * 100 / limitVal)) : 100 }"
    class="second">
  </div>
</div>