<div class="container-fluid">
    <div class="row">
        <div class="col-12" *ngFor="let barVal of bars;  let i = index">
            <app-progressbar [widthVal]="barVal" [limitVal]="limit" (click)="progressbarClick(i)"></app-progressbar>
            <br />
        </div>
    </div>
</div>

<form [formGroup]="formDashboard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3  col-md-3 col-lg-3">
                <select class="options-dropdown" id="progressBars" formControlName="progressDropDown" (change)="changeProgress($event)">
                    <option value="">Choose your Progrss Bar</option>
                    <option *ngFor="let bar of progressBars; let i = index" [value]="bar.id">
                        {{ bar.name }}
                    </option>
                </select>
            </div>
            <!-- test : {{ progressDropDown.value }}  -- {{ progressDropDown.value == '' ? true : false }} -->
            <!-- {{ progressDropDown.value }} {{ progressDropDown.value == ' ' ? true : false }} {{  buttVal <= (bars[progressDropDown.value] ) }}  
                || (buttVal <= bars[progressDropDown.value] && bars[progressDropDown.value] == 0) || (buttVal > 0 && bars[progressDropDown.value] == limit) 
                -->
            <div class="col-sm-9  col-md-9 col-lg-9">
                <div class="verticle-line" *ngFor="let buttVal of buttons">
                    <button class="align_button" type="button" (click)="calculation(buttVal)"
                        [disabled]="progressDropDown.value === '' ? true : false "
                        class="align_button btn btn-primary btn-block">
                        {{ buttVal }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>