.verticle-line {
    width: 30px;
    margin:15px;  
    float:left

    }


.align_button {
    min-width: 50px;
    max-width: 50px;
    padding: 2px;
}

.options-dropdown {
    margin-top:15px;  
    height: 30px;
    float:left
}

